body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 60%); */
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 35%); */
    background-color: lightgray;

    
}
.alert {
    color: red;
    margin: 0px;
}

form {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

/* .log-out {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  text-align: center;
} */

/* .log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.log-in {
    
}
.register-button {
    margin-top: 150px;
}
.abitlower {
    padding-top: 20px;
}
.register {

}
.nav-wrapper{
    
}
.moveOnOver {
    padding-top: 10px;
    padding-bottom: 10px;
}

@font-face {
    font-family: 'HeaderFont';
    src: local('HeaderFont'), url(../Media/CustomFont.ttf) format('ttf');
}

h3 {
    font-family: 'Liquor';
    font-weight: bolder;
}
@font-face {
    font-family: 'Liquor';
    font-style: normal;
    font-weight: 300;
    src: url(../Media/Pittsbrook.ttf)
}